<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/admin.css">
    <style>
        a {
          text-decoration: none;
          /* pointer-events: none; */
          color: #ffffff;
        }
        a:hover{
          color: #ffffff;
        }

        .header-left {
          display: flex;
          align-items: center;
        }

        .user-fullname {
        font-size: 18px;
        margin-right: 10px; /* Adjust as needed */
      }
      .user-role {
        font-size: 18px;
        color: grey; /* Optional: change the color as needed */
      }

      /* Hide specific icons on mobile view */
      @media (max-width: 768px) {
        .header-right .material-icons-outlined {
          display: none;
        }

        .header-right a {
          display: none;
        }
      }

      </style>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
        <script>
          // Socket.io code
            document.addEventListener('DOMContentLoaded', (event) => {
                const socket = io();
    
                socket.on('new-apartment', (data) => {
                    alert(`New apartment created: ${data.title} at ${data.location}`);
                });
            });
    
            document.addEventListener('DOMContentLoaded', (event) => {
                const socket = io();
    
                socket.on('new-application', (data) => {
                    alert(`New application created: ${data.createdBy} applied for property ${data.applyAid} at ${data.location}`);
                });
            });
        </script>
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">person</span>
          <p class="user-fullname"><a href="/view/<%= user._id %>"><%= user ? user.fullname : '' %></a></p>
          <% if (sudo) { %>
            <p class="user-role">(CEO)</p>
          <% } else { %>
            <p></p> 
          <% } %>
          
         <% if (accountant) { %>
            <p class="user-role">(Accountant)</p>
          <% } else { %>
            <p></p> 
          <% } %>

          <% if (manager) { %>
            <p class="user-role">(Managing Director)</p>
          <% } else { %>
              <p></p> 
          <% } %>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined"><a href="#" class="header-top-social-link">
            <img src="./images/sl.png" alt="Sierra Leone" style="width: 20px; height: 20px; border-radius: 50%;">
          </a>
        </span>
          <span class="material-icons-outlined"><a href="/notifications">notifications</a></span>
          <span class="material-icons-outlined"><a href="/all-messages">chat</a></span>
          <span class="material-icons-outlined"><a href="/view/<%= user._id %>">account_circle</a></span>
          <span class="material-icons-outlined"><a href="/logout">logout</a></span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <a href="/admin-home"><span class="material-icons-outlined">home</span> AgroTech SL </a>
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/all-messages" target="_blank">
              <span class="material-icons-outlined">chat</span> Messages
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/all-boost" target="_blank">
              <span class="material-icons-outlined">payment</span> Payments
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/all-admin-user" target="_blank">
              <span class="material-icons-outlined">groups</span> Administrative
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/verify-product" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Verification
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/sponsorship" target="_blank">
              <span class="material-icons-outlined">monetization_on</span> Sponsorship
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/availability" target="_blank">
              <span class="material-icons-outlined">event_available</span> Avaliability
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/active-sessions" target="_blank">
              <span class="material-icons-outlined">groups</span> Active Sessions
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/settings" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>ADMIN DASHBOARD</h2>
        </div>

        <div class="main-cards">
          <div class="card">
            <a href="/all-products">
            <div class="card-inner">
              <h3>PRODUCTS</h3>
              <span class="material-icons-outlined">home</span>
            </div></a>
            <!-- <h1>249</h1> -->
            <h1><%= productsCount %></h1>
          </div>

          
          <div class="card">
            <a href="/all-applications">
            <div class="card-inner">
              <h3>APPLICATIONS</h3>
              <span class="material-icons-outlined">category</span>
            </div></a>
            <h1><%= applicationsCount %></h1>
          </div>

          <div class="card">
            <a href="/all-users">
            <div class="card-inner">
              <h3>ALL USERS</h3>
              <span class="material-icons-outlined">groups</span>
            </div></a>
            <h1><%= usersCount %></h1>
          </div>

          <div class="card">
            <a href="/account">
            <div class="card-inner"> 
              <h3>ACCOUNTS</h3>
              <span class="material-icons-outlined">money</span>
            </div></a>
            <!-- <h1>Company Records</h1> -->
          </div>
        </div>

        <div class="main-cards">
          <div class="card">
            <a href="/agent-program">
            <div class="card-inner">
              <h3>FARMERS PROGRAM</h3>
              <span class="material-icons-outlined">category</span>
            </div></a>
            <!-- <h1>249</h1> -->
             <!-- <p>Applications</p> -->
            <h1><%= agentsCount %></h1>
          </div>

          
          <div class="card">
            <a href="/only-admins">
            <div class="card-inner">
              <h3>ADMINS</h3>
              <span class="material-icons-outlined">groups</span>
            </div></a>
            <h1><%= adminCount %></h1>
          </div>

          <div class="card">
            <a href="/only-users">
            <div class="card-inner">
              <h3>USERS</h3>
              <span class="material-icons-outlined">groups</span>
            </div></a>
            <h1><%= userCount %></h1>
          </div>

          <div class="card">
            <a href="/only-agents">
            <div class="card-inner"> 
              <h3>FARMERS</h3>
              <span class="material-icons-outlined">groups</span>
            </div></a>
            <h1><%= agentCount %></h1>
          </div>
        </div>

        <div class="charts">
          <div class="charts-card">
            <a href="/view-ip-addresses">
            <h2 class="chart-title">IP Addresses of Visitors</h2>
            <!-- <div id="area-chart"> ipAddressCount</div> -->
             <h1 style="text-align: center;"><%= ipAddressCount %></h1>
          </a>
          </div>
          <div class="charts-card">
            <a href="/metrics">
              <h2 class="chart-title">Web Application Metrics</h2>
              <!-- <span class="material-icons-outlined">analytics</span> -->
              <h1 style="text-align: center;"></h1>
            </a>
          </div>          
          <div class="charts-card">
            <a href="#">
            <h2 class="chart-title">Web Application Views</h2>
            <!-- <div id="area-chart"> ipAddressCount</div> -->
             <h1 style="text-align: center;"><%= views %></h1>
          </a>
          </div>

          <div class="charts-card">
            <a href="/admin-message-user">
            <h2 class="chart-title">Send User Message</h2>
            <!-- <div id="area-chart"> ipAddressCount</div> -->
             <h1 style="text-align: center;"></h1>
          </a>
          </div>

          <div class="charts-card">
            <a href="/message-history">
            <h2 class="chart-title">Message History</h2>
            <!-- <div id="area-chart"> ipAddressCount</div> -->
             <h1 style="text-align: center;"></h1>
          </a>
          </div>

        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="./js/admin.js"></script>
  </body>
</html>