<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
  <title>AgroTech - Update-password</title>
  <style>
    .header-bottom-actions {
      display: flex;
      justify-content: center;
  }
  
  .header-bottom-actions-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none; /* Optional: remove underline */
      margin: 0 10px; /* Adjust spacing between buttons */
  }
  
  .header-bottom-actions-btn ion-icon {
      margin-bottom: 5px; /* Adjust as needed */
  }
  
  </style>
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">


          <li>
            <a href="/view/<%= user._id %>" class="header-top-link">
              <ion-icon name=""></ion-icon>
              <span><%= greeting %>, <%= user ? user.role : '' %> | <%= user ? user.username : '' %></span>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

             <!-- Add nigeria Flag -->
             <li>
              <a href="#" class="header-top-social-link">
                <img src="/images/sl.png" alt="nigeria" style="width: 20px; height: 20px; border-radius: 50%;">
              </a>
            </li>

          <form action="/logout" method="get">
            <button class="header-top-btn">
              <i class="fas fa-sign-out-alt"></i> Logout
            </button>
            </form>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <!-- <a href="#" class="logo">
          <img style="width: 50%; float: left; margin-right: 10px;" src="/update-password/images/hub.jpg" alt="AgroTech logo">
        </a> -->

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="/images/hub.png" alt="AgroTech logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

        </nav>

       

      </div>
    </div>

  </header>

<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    
<form action="/change-password/<%= users._id %>?_method=PATCH" method="post">

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="phone" class="formbold-form-label"> Old password: </label>
        <div>
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Old password"
            class="formbold-form-input"
            required
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="location" class="formbold-form-label"> New Password: </label>
        <div>
          <input
            type="text"
            name="location"
            id="location"
            class="formbold-form-input"
            placeholder="New password"
            required
          />
        </div>
      </div>

      <input
        type="hidden"
        name="createdBy"
        value="<%= user.fullname %>"
      />

      <input
        type="hidden"
        name="username"
        value="<%= user.username %>"
      />

      <button type="submit" class="formbold-btn">Done</button>
    </form>
  </div>
</div>
<!-- 
    - #FOOTER
  -->

  <!-- include cta -->
<%- include('include/_cta') %>
<!-- /include cta -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->