<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgroTech- Admin</title>
  <style>
    .header-bottom-actions {
      display: flex;
      justify-content: center;
  }
  
  .header-bottom-actions-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none; /* Optional: remove underline */
      margin: 0 10px; /* Adjust spacing between buttons */
  }
  
  .header-bottom-actions-btn ion-icon {
      margin-bottom: 5px; /* Adjust as needed */
  }
  
  </style>
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">
          <li>
            <a href="/administrator" class="header-top-link">
              <ion-icon name=""></ion-icon>

              <span><%= greeting %>, Administrator | <%= user ? user.username : '' %>
                <% if (sudo) { %>
                  <p>(Owner)</p>
              <% } else { %>
                  <p></p> <!-- Empty paragraph -->
              <% } %>

              <% if (accountant) { %>
                <p>(Accountant)</p>
              <% } else { %>
                  <p></p> <!-- Empty paragraph -->
              <% } %>

              <% if (manager) { %>
                <p>(Director)</p>
              <% } else { %>
                  <p></p> <!-- Empty paragraph -->
              <% } %>
              </span>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <!-- Add nigeria Flag -->
            <li>
             <a href="#" class="header-top-social-link">
               <img src="/images/sl.png" alt="sl" style="width: 20px; height: 20px; border-radius: 50%;">
             </a>
           </li>
         </ul>
          <form action="/logout" method="get">
            <button class="header-top-btn">
              <i class="fas fa-sign-out-alt"></i> Logout
            </button>
            </form>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="/admin-home" class="logo">AgroTech SL</a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="/admin-home" class="logo">AgroTech SL</a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="/admin-home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="/all-admin-properties" class="navbar-link" data-nav-link>Apartments</a>
              </li>

              <li>
                <a href="/admin-my-post" class="navbar-link" data-nav-link>My Listings</a>
              </li>

              <li>
                <a href="/admin-service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <!-- <li>
                <a href="/admin-blog" class="navbar-link" data-nav-link>Blog</a>
              </li> -->

              <li>
                <a href="/admin-contact" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <button class="header-bottom-actions-btn" aria-label="Search"><a href="/search-admin">
            <ion-icon name="search-outline"></ion-icon>
          </a>
            <span>Search</span>
          </button>

          <a href="/view/<%= user._id %>" class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>
            <span>Profile</span>
        </a>
        
        <a href="/all-admin-properties" class="header-bottom-actions-btn" aria-label="Home">
          <ion-icon name="home-outline"></ion-icon>
          <span>Properties</span>
        </a>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>

<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    
<form action="/change-password/<%= users._id %>?_method=PATCH" method="post">

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="oldPassword" class="formbold-form-label"> Old password: </label>
        <div>
          <input
            type="text"
            name="oldPassword"
            id="oldPassword"
            placeholder="Old password"
            class="formbold-form-input"
            required
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="newPassword" class="formbold-form-label"> New Password: </label>
        <div>
          <input
            type="text"
            name="newPassword"
            id="newPassword"
            class="formbold-form-input"
            placeholder="New password"
            required
          />
        </div>
      </div>

      <input
        type="hidden"
        name="createdBy"
        value="<%= user.fullname %>"
      />

      <input
        type="hidden"
        name="username"
        value="<%= user.username %>"
      />

      <button type="submit" class="formbold-btn">Done</button>
    </form>
  </div>
</div>


<!-- include cta -->
<%- include('include/_cta-admin') %>
<!-- /include cta -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
