
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">

        <div class="img__container">
            <% if (users.photo) { %>
                <img src="<%= relativePath %>" alt="profile" />
            <% } else { %>
                <!-- Default image placeholder if photo doesn't exist -->
                <img src="/images/qcell.jpg" alt="profile" />
            <% } %>
            <span></span>
        </div>

        <h2><%= users.fullname %></h2>
        <p><%= '@' + users.username %></p>
        <p><%= users.email %></p>
        <p><%= users.role %> || <%= users.status %></p>
        <p><%= users.createdAt %></p>

          <div class="content">
            <p>
                <%= users.bio %>
            </p>
          </div>
        </div>
        <div class="right__col">
          <nav>
            <ul>
              <li><a href="#">posts</a></li>
            <form action="/update-profile/<%= users._id %>">
            <button>Edit</button>
          </form>
          </nav>
      </div>
    </div>
    <script>
      function goBack() {
          window.history.back();
      }
  </script>
  </body>
</html>

