<!-- <link rel="stylesheet" href="./css/farming-tips.css">

<section class="farming-tips-section">
  <div class="container">
    <h1>Latest News</h1>

    <article>
      <h2>The Sierra Leone-China #HENAN Trade and Investment Forum</h2>
      <p class="meta">
        <span class="date">Published on: October 25, 2024</span>
        <span class="source"><a href="https://maf.gov.sl/the-sierra-leone-china-henan-trade-and-investment-forum/">Source: Ministry of Agriculture, Sierra Leone</a></span>
      </p> <br> <hr>
      <p>
        At the Sierra Leone-China #HENAN Trade and Investment Forum, the Senior Permanent Secretary of the Ministry of Agriculture, Andrew Sorie, discussed 
        #investment #opportunities in the agricultural sector. He highlighted key priority areas under the #FeedSalone initiative that require investments. 
        According to Sorie, achieving these objectives would play a critical role in ensuring Sierra Leone’s food security. <br>
        <br>
        #MAFS #GoSL #SLEmbassyinChina
      </p>
    </article>

  </div>
</section> -->


<link rel="stylesheet" href="./css/farming-tips.css">

<section class="farming-tips-section">
  <div class="container">
    <h1>Latest News</h1>

    <% if (newsList && newsList.length > 0) { %>
      <% newsList.forEach((news) => { %>
        <article>
          <h2><%= news.title %></h2>
          <p class="meta">
            <span class="date">Published on: <%= news.createdAt.toDateString() %></span>
            <p class="source">
              <% if (news.source && news.sourceLink) { %>
                Source:<a href="<%= news.sourceLink %>" target="_blank"><%= news.source %></a>
              <% } else if (news.source) { %>
                Source: <%= news.source %>
              <% } %>
            </p>            
          </p>
          <br>
          <hr>
          <p><%= news.newsDetail %></p> <br>
          <% if (news.hashtags && news.hashtags.length > 0) { %>
            <p class="hashtags">
              <% news.hashtags.forEach((tag) => { %>
                <span>#<%= tag %></span>
              <% }) %>
            </p>
          <% } %>
        </article>
      <% }) %>
    <% } else { %>
      <p>No news available at the moment. Please check back later.</p>
    <% } %>

  </div>
</section>

