

  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <pre style="text-align: center; font: 0.6em sans-serif;">
        Update the details of your product.
        Ensure all information is correct for potential buyers.
      </pre>
      <form action="/update-product/<%= product._id %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PATCH"> <!-- Method override for PATCH -->
        <input type="hidden" name="productId" id="productId" value="<%= product._id %>" />
  
        <div class="formbold-mb-3">
          <label for="title" class="formbold-form-label">Product Name: </label>
          <input type="text" name="title" id="title" value="<%= product.title %>" class="formbold-form-input" required/>
        </div>
  
        <div class="formbold-mb-3">
          <label for="typeOfProduct" class="formbold-form-label"> Product Type: </label>
          <select id="typeOfProduct" name="typeOfProduct" class="formbold-form-input" required>
            <option value="" disabled>Select Product Type</option>
            <option value="Crop" <%= product.typeOfProduct === 'Crop' ? 'selected' : '' %>>Crop</option>
            <option value="Livestock" <%= product.typeOfProduct === 'Livestock' ? 'selected' : '' %>>Livestock</option>
            <option value="Poultry" <%= product.typeOfProduct === 'Poultry' ? 'selected' : '' %>>Poultry</option>
            <option value="Dairy" <%= product.typeOfProduct === 'Dairy' ? 'selected' : '' %>>Dairy</option>
            <option value="Others" <%= product.typeOfProduct === 'Others' ? 'selected' : '' %>>Others</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="price" class="formbold-form-label"> Price: </label>
          <input type="number" name="price" id="price" value="<%= product.price %>" class="formbold-form-input" required/>
        </div>
  
        <div class="formbold-mb-3">
          <label for="currency" class="formbold-form-label"> Currency: </label>
          <select id="currency" name="currency" class="formbold-form-input" required>
            <option value="SLL" <%= product.currency === 'SLL' ? 'selected' : '' %>>Sierra Leonean Leone (SLL)</option>
            <option value="USD" <%= product.currency === 'USD' ? 'selected' : '' %>>United States Dollar (USD)</option>
            <option value="EUR" <%= product.currency === 'EUR' ? 'selected' : '' %>>Euro (EUR)</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="phone" class="formbold-form-label"> Contact Phone: </label>
          <input type="text" name="phone" id="phone" value="<%= product.phone %>" class="formbold-form-input" required/>
        </div>
  
        <div class="formbold-mb-3">
          <label for="location" class="formbold-form-label"> Location: </label>
          <input type="text" name="location" id="location" value="<%= product.location %>" class="formbold-form-input" required/>
        </div>
  
        <div class="formbold-mb-3">
          <label for="negotiation" class="formbold-form-label"> Negotiation: </label>
          <select id="negotiation" name="negotiation" class="formbold-form-input" required>
            <option value="Negotiable" <%= product.negotiation === 'Negotiable' ? 'selected' : '' %>>Negotiable</option>
            <option value="Non Negotiable" <%= product.negotiation === 'Non Negotiable' ? 'selected' : '' %>>Non Negotiable</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <input type="hidden" name="role" value="<%= user.role %>" />
        </div>
  
        <div class="formbold-mb-3">
          <label for="createdBy" class="formbold-form-label"> Created By: </label>
          <input type="text" name="createdBy" value="<%= user.fullname %>" class="formbold-form-input" readonly />
        </div>
  
        <div class="formbold-mb-3">
          <label for="description" class="formbold-form-label"> Product Description: </label>
          <textarea rows="6" name="description" id="description" class="formbold-form-input" placeholder="Describe the product in detail..."><%= product.description %></textarea>
        </div>
  
        <button type="submit" class="formbold-btn">Update Product</button>
      </form>
    </div>
  </div>
  <script>
    document.getElementById('status').addEventListener('change', function() {
      const durationField = document.getElementById('durationField');
      durationField.style.display = this.value === 'Rent' ? 'block' : 'none';
    });
  
    document.querySelector('form').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
  
      fetch('/create-product', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
  </script>
  
  <script>
    const fileInputs = document.querySelectorAll('.formbold-form-file');
  
    fileInputs.forEach(input => {
      input.addEventListener('change', function() {
        const fileName = this.files[0].name;
        const placeholderId = this.dataset.placeholder.replace(/\s+/g, '-').toLowerCase() + '-placeholder';
        const placeholder = document.getElementById(placeholderId);
        
        if (fileName) {
          placeholder.textContent = fileName;
        } else {
          placeholder.textContent = 'No file chosen';
        }
      });
    });
  </script>
</body>
</html>