<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update profile</title>
  <link rel="stylesheet" href="./css/form.css">
</head>
<body>
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <h1 style="font-size: 18px; text-align: center;">Update Profile</h1>
    <form action="/update-profile/<%= users._id %>?_method=PATCH" method="POST" class="edit-profile-form">
      <input type="hidden" name="aid" id="aid" class="formbold-form-input" />

      <div class="formbold-mb-3">
        <label for="title" class="formbold-form-label"> Fullname: </label>
        <input type="text" name="title" id="title" value="<%= users.fullname %>" class="formbold-form-input" />
      </div>


      <div class="formbold-mb-3">
        <label for="username" class="formbold-form-label"> Username: </label>
        <input type="text" name="username" id="username" value="<%= users.username %>" class="formbold-form-input" />
      </div>

      <div class="formbold-mb-3">
        <label for="email" class="formbold-form-label"> Email: </label>
        <input type="email" name="email" id="location" value="<%= users.email %>" class="formbold-form-input" />
      </div>

        <div class="formbold-mb-3">
            <label for="phone" class="formbold-form-label"> Phone: </label>
            <input type="text" name="phone" id="phone" value="<%= users.phone %>" class="formbold-form-input" />
        </div>

        <div class="formbold-mb-3">
            <label for="bio" class="formbold-form-label"> Bio: </label>
            <textarea rows="6" name="bio" id="bio" class="formbold-form-input"><%= users.bio %></textarea>
          </div>

      <button type="submit" class="formbold-btn">Update</button>
    </form>
  </div>
</div>
</body>
</html>
